<!--
=========================================================
* Paper Dashboard 2 - v2.0.1
=========================================================

* Product Page: https://www.creative-tim.com/product/paper-dashboard-2
* Copyright 2020 Creative Tim (https://www.creative-tim.com)

Coded by www.creative-tim.com

 =========================================================

* The above copyright notice and this permission notice shall be included in all copies or substantial portions of the Software.
-->
<!doctype html>
<html lang="en">

<head>
  <meta charset="utf-8" />
  <link rel="apple-touch-icon" sizes="76x76" href="./assets/img/apple-icon.png">
  <link rel="icon" type="image/png" href="./assets/img/favicon.png">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
  <title>
    Enterprice Application Dashboard
  </title>
  <meta content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0, shrink-to-fit=no'
    name='viewport' />
  <!--     Fonts and icons     -->
  <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700,200" rel="stylesheet" />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css">
  <!-- CSS Files -->
  <link href="./assets/css/bootstrap.min.css" rel="stylesheet" />
  <link href="./assets/css/paper-dashboard.css?v=2.0.1" rel="stylesheet" />
  <link href="./assets/css/style.css?v=2.0.1" rel="stylesheet" />
  <!-- CSS Just for demo purpose, don't include it in your project -->
  <link href="./assets/demo/demo.css" rel="stylesheet" />
</head>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
<script src="http://code.jquery.com/ui/1.9.2/jquery-ui.js"></script>
<script>
  $(function() {
   var print = function(msg) {
     alert(msg);
   };

   var setInvisible = function(elem) {
     elem.css('visibility', 'hidden');
   };
   var setVisible = function(elem) {
     elem.css('visibility', 'visible');
   };

   var elem = $("#elem");
   var items = elem.children();

   // Inserting Buttons
   elem.prepend('<i id="left-button" class="arrow fa-solid fa-circle-left"></i>');
   elem.append('<i id="right-button" class="arrow fa-solid fa-circle-right"></i>');

   // Inserting Inner
   items.wrapAll('<div id="inner" />');

   // Inserting Outer
   elem.find('#inner').wrap('<div id="outer"/>');

   var outer = $('#outer');

   var updateUI = function() {
     var maxWidth = outer.outerWidth(true);
     var actualWidth = 0;
     $.each($('#inner >'), function(i, item) {
       actualWidth += $(item).outerWidth(true);
     });

     if (actualWidth >= maxWidth) {
       setVisible($('#right-button'));
     }
     if ($('#outer').scrollLeft() <= 0) {
         setInvisible($('#left-button'));
       }else{
        setVisible($('#left-button'));
       }
       var leftPos = outer.scrollLeft();
       if(leftPos + maxWidth >= actualWidth){
        setInvisible($('#right-button'));
       }
   };
   updateUI();

   $('#left-button').click(function() {
     var leftPos = outer.scrollLeft();
     outer.animate({
       scrollLeft: leftPos - 800
     }, 800,function() {
      updateUI();
         }); 
       
     
   });

   $('#right-button').click(function() {
     setVisible($('#left-button'));
     var leftPos = outer.scrollLeft();
     outer.animate({
       scrollLeft: leftPos + 800
     }, 800,function() {
      updateUI();
         });
   });
  
 
 });

</script>
<body class="">
  <header>
    <nav class="navbar navbar-expand-lg navbar-absolute fixed-top  topbar">
      <div class="container-fluid">
        <div class="navbar-wrapper">
          <div class="navbar-toggle">
            <button type="button" class="navbar-toggler">
              <span class="navbar-toggler-bar bar1"></span>
              <span class="navbar-toggler-bar bar2"></span>
              <span class="navbar-toggler-bar bar3"></span>
            </button>
          </div>
          <div class="logo">
            <img class="logo-img" src="assets/img/TTEC_Logo_Steel.png"> <span class="logo-text">Monitoring</span>
          </div>
          <!-- <a class="navbar-brand" href="javascript:;">Dashboard</a> -->
        </div>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navigation"
          aria-controls="navigation-index" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-bar navbar-kebab"></span>
          <span class="navbar-toggler-bar navbar-kebab"></span>
          <span class="navbar-toggler-bar navbar-kebab"></span>
        </button>
        <div class="collapse navbar-collapse justify-content-end" id="navigation">
          <form>
            <div class="input-group no-border">
              <input type="text" value="" class="form-control" placeholder="Search...">
              <div class="input-group-append">
                <div class="input-group-text">
                  <i class="nc-icon nc-zoom-split"></i>
                </div>
              </div>
            </div>
          </form>
          <!-- <ul class="navbar-nav">
            <li class="nav-item btn-rotate dropdown">
              <a class="nav-link dropdown-toggle" href="http://example.com" id="navbarDropdownMenuLink"
                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <i class="nc-icon nc-bell-55"></i>
                <p>
                  <span class="d-lg-none d-md-block">Some Actions</span>
                </p>
              </a>
              <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdownMenuLink">
                <a class="dropdown-item" href="#">Action</a>
                <a class="dropdown-item" href="#">Another action</a>
                <a class="dropdown-item" href="#">Something else here</a>
              </div>
            </li>
          </ul> -->
        </div>
      </div>
    </nav>
  </header>
  <div class="wrapper">

    <div class="sidebar" data-color="white" data-active-color="danger">
      <div class="sidebar-wrapper">
        <ul class="nav">
          <li class="active ">
            <a href="index.html">
              <i class="icon nc-icon nc-bank"></i>
              <p>Home</p>
            </a>
          </li>
          <li>
            <a href="project-management.html">
              <i class="fas fa-project-diagram icon"></i>
              <p>Projects</p>
            </a>
          </li>
          <li>
            <a href="analytics.html">
              <i class="fa fa-line-chart icon" aria-hidden="true"></i>
              <p>Analytics</p>
            </a>
          </li>
          <li>
            <a href="tickets.html">
              <i class="fa-solid fa-ticket icon"></i>
              <p>Tickets</p>
            </a>
          </li>
        </ul>
      </div>
    </div>
    <div class="container-fluid" style="height: 100vh;">
      <!-- Navbar -->

      <!-- End Navbar -->
      <div class="content ml-4">
        <div class="mt-4 mb-4">
          <h3 class=" text-themecolor mb-0>Dashboard">Dashboard</h3>
        </div>
        <section class="main-conent" id="pricing">
          <div class="row">
            <div id="elem">
              <label class="col-md-3 card pointer card-body center center-allign">
                <!-- <a href="project-management.html"class="card pointer"> -->
  
                <label class="">
                  <h4>Informatica</h4>
                  <label class="circle mt-3" style="margin-left: 14px;">
                  <label class="critical-count">200 </label>
                  </label>
                  <!-- <button type="button" class="btn-floating  btn btn-dark btn-lg btn-block  download-button">View More</button> -->
                </label>
                <!-- </a> -->
              </label>
              <label class="card-body center center-allign col-md-3 card pointer ml-3">
  
                <label class="">
                  <h4>Oracle</h4>
                  <label class="circle mt-3">10</label>
                  <!-- <button type="button" class="btn btn-dark btn-lg btn-block  download-button">View More</button> -->
                </label>
              </label>
  
              <label class="card-body center center-allign col-md-3 card pointer ml-3">
  
                <label class="">
                  <h4 >Kronos</h4>
                  <label class="circle mt-3">1</label>
                  <!-- <button type="button" class="btn btn-dark btn-lg btn-block  download-button">View More</button> -->
                </label>
              </label>
  
  
              <label class="col-md-3 card pointer ml-3 card-body center center-allign">
  
                <label class="">
                  <h4>Chat Bot</h4>
                  <label class="circle mt-3">99</label>
                  <!-- <button type="button" class="btn btn-dark btn-lg btn-block download-button">View More</button> -->
                </label>
              </label>
              <label class="col-md-3 card pointer ml-3 card-body center center-allign">
  
                <label class="">
                  <h4>Chat Bot</h4>
                  <label class="circle mt-3">99</label>
                  <!-- <button type="button" class="btn btn-dark btn-lg btn-block download-button">View More</button> -->
                </label>
              </label>
              <label class="col-md-3 card pointer ml-3 card-body center center-allign">
  
                <label class="">
                  <h4>Chat Bot</h4>
                  <label class="circle mt-3">99</label>
                  <!-- <button type="button" class="btn btn-dark btn-lg btn-block download-button">View More</button> -->
                </label>
              </label>
              <label class="col-md-3 card pointer ml-3 card-body center center-allign">
  
                <label class="">
                  <h4>Chat Bot</h4>
                  <label class="circle mt-3">99</label>
                  <!-- <button type="button" class="btn btn-dark btn-lg btn-block download-button">View More</button> -->
                </label>
              </label>
              <label class="col-md-3 card pointer ml-3 card-body center center-allign">
  
                <label class="">
                  <h4>Chat Bot</h4>
                  <label class="circle mt-3">99</label>
                  <!-- <button type="button" class="btn btn-dark btn-lg btn-block download-button">View More</button> -->
                </label>
              </label>
              <label class="col-md-3 card pointer ml-3 card-body center center-allign">
  
                <label class="">
                  <h4>Chat Bot</h4>
                  <label class="circle mt-3">99</label>
                  <!-- <button type="button" class="btn btn-dark btn-lg btn-block download-button">View More</button> -->
                </label>
              </label>
            </div>
          </div>
          
        </section>
        <div class="row mt-5 mr-2">
          <div class="col-md-8">
            <div style="background-color:white ;">
              <table class="table table-hover mb-0">
                <thead>
                  <tr>
                    <th>S.no</th>
                    <th>Project ID</th>
                    <th>Project Name</th>
                    <th>Dependent Project</th>
                    <th>Description</th>
                    <th>Status</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td>1</td>
                    <td><a class="navi-link" href="Ticket ID" data-toggle="modal">45678</a></td>
                    <td><span>Asknow</span></td>
                    <td><span>ELC<br>ASD</span></td>
                    <td><span>P1 outage</span></td>
                    <td><span class="badge badge-danger m-0">Critical</span></td>
                  </tr>
                  <tr>
                    <td>2</td>
                    <td><a class="navi-link" href="Ticket ID" data-toggle="modal">45078</a></td>
                    <td><span>Asknow</span></td>
                    <td><span>ELC<br>ASD</span></td>
                    <td><span>P1 outage</span></td>
                    <td><span class="badge badge-warning m-0">Warning</span></td>
                  </tr>
                  <tr>
                    <td>3</td>
                    <td><a class="navi-link" href="Ticket ID" data-toggle="modal">95678</a></td>
                    <td><span>Kronos</span></td>
                    <td><span>PingID<br>PC Wrapper</span></td>
                    <td><span>P2 outage</span></td>
                    <td><span class="badge badge-warning m-0">Warning</span></td>
                  </tr>
                  <tr>
                    <td>4</td>
                    <td><a class="navi-link" href="Ticket ID" data-toggle="modal">15678</a></td>
                    <td><span>Ayehu</span></td>
                    <td><span>ELC<br>Pc Check-in<br>PC Wrapper</span></td>
                    <td><span>P1 outage</span></td>
                    <td><span class="badge badge-success m-0">Good</span></td>
                  </tr>
                  <tr>
                    <td>5</td>
                    <td><a class="navi-link" href="Ticket ID" data-toggle="modal">95678</a></td>
                    <td><span>Informatica</span></td>
                    <td><span>GSD</span></td>
                    <td><span>P2 outage</span></td>
                    <td><span class="badge badge-success m-0">Good</span></td>
                  </tr>
                </tbody>
              </table>
              <button type="button" class="btn btn-dark btn-xs btn-block download-button"><a href="tickets.html">View More</a></button>
            </div>
          </div>
          <div class="col-md-4" id="Loss of Revenue">
            <div class="card">
              <div class="card-header">
                <h3>Loss of Revenue</h3>
              </div>
              <div class="card-body">
                <h2 class="pricing-text">Loss of Revenue</h2>
                <button type="button" class="btn btn-dark btn-xs btn-block download-button"><a
                    href="analytics.html">View More</a></button>
              </div>
            </div>
          </div>
        </div>


      </div>

      <!-- <footer class="footer" style="position: absolute; bottom: 0; width: -webkit-fill-available;">
        <div class="container-fluid">
          <div class="row">
            <nav class="footer-nav">
              <ul>
                <li><a href="https://www.creative-tim.com" target="_blank">Creative Tim</a></li>
                <li><a href="https://www.creative-tim.com/blog" target="_blank">Blog</a></li>
                <li><a href="https://www.creative-tim.com/license" target="_blank">Licenses</a></li>
              </ul>
            </nav>
            <div class="credits ml-auto">
              <span class="copyright">
                © 2020, made with <i class="fa fa-heart heart"></i> by Creative Tim
              </span>
            </div>
          </div>
        </div>
      </footer> -->
    </div>
  </div>
  <!--   Core JS Files   -->
  <script src="./assets/js/core/jquery.min.js"></script>
  <script src="./assets/js/core/popper.min.js"></script>
  <script src="./assets/js/core/bootstrap.min.js"></script>
  <script src="./assets/js/plugins/perfect-scrollbar.jquery.min.js"></script>
  <!--  Google Maps Plugin    -->
  <script src="https://maps.googleapis.com/maps/api/js?key=YOUR_KEY_HERE"></script>
  <!-- Chart JS -->
  <script src="./assets/js/plugins/chartjs.min.js"></script>
  <!--  Notifications Plugin    -->
  <script src="./assets/js/plugins/bootstrap-notify.js"></script>
  <!-- Control Center for Now Ui Dashboard: parallax effects, scripts for the example pages etc -->
  <script src="./assets/js/paper-dashboard.min.js?v=2.0.1" type="text/javascript"></script>
 
</body>

</html>